header{
    position: fixed;
    width: 100%;
    padding-top: 20px;
    padding-left: 8%;
    padding-right: 8%;
    background-color: rgb(255, 255, 255);
    box-shadow: 1px 1px 5px black;
    opacity: .8;
}

.Navegación{
    margin: auto;
    position: relative;
    padding-bottom: 10px;
}
.Navegación .menuhorizontal li a{
    text-decoration: none;
    color: black;
    justify-content: space-between;
    width: 100%;
    padding: 10px;

}
.Navegación .menuhorizontal li a:hover{
    color: rgb(22, 121, 22);
}
.Navegación .menuhorizontal li a .img1{
    width: 20px;
    height: 20px;
}





#contenido {
    width: 1000px;
    margin: 0 auto;
}
