/*MENU PRINCIPAL*/
header{
    position: fixed;
    width: 100%;
    padding-top: 20px;
    padding-left: 6%;
    padding-right: 6%;
    background-color: rgb(255, 255, 255);
    box-shadow: 1px 1px 5px black;
    opacity: .8;
}

.Navegación{
    margin: auto;
    position: relative;
    padding-bottom: 10px;
}
.menuhorizontal{
    list-style: none;
    display: flex;
    justify-content: space-around;
}
.menuhorizontal>li>a{
    display: block;
    padding: 5px 10px;
    color: black;
    text-decoration: none;
}
.menuhorizontal>li:hover{
    background-color: green;
    transition: all .3s;

}
.menuhorizontal>li>a:hover{
    color: honeydew;
    transition: all .3s;
}

.menuvertical{
    position: absolute;
    display: none;
    list-style: none;
    width: 200px;
    background-color: rgb(37, 43, 30);
}
.menuhorizontal li:hover .menuvertical{
    display: block;
}
.menuvertical li:hover{
    background-color: rgb(104, 104, 104);
}
.menuvertical li a{
    display: block;
    color: rgb(255, 255, 255);
    text-decoration: none;
    padding: 15px 15px 15px 20px;
}
.Navegación .menuhorizontal .img1{
    width: 18px;
    height: 14px;
}
/*FIN DE MENU PRINCIPAL*/




div.Ojo {
    width: 40%;
    margin: 1px auto;
    color: #00713D;
    padding: 15px;
    font-size: 20;
    font-weight: 100%;
}
  
div.Ojo img.izquierda {
    float: left;
    height: 30;
    margin-right: 15px;
}
hr {
    padding: 1;
    height: 3px;
    margin-left: 350;
    margin-right: 25%;
    background-color: #00713D;
}


