header{
   /* position: fixed;*/
    /*position: fixed;*/
    width: 100%;
    padding-top: 20px;
    padding-left: 6%;
    padding-right: 6%;
    background-color: rgb(255, 255, 255);
    box-shadow: 1px 1px 5px black;
    opacity: .8;
}

.Navegación{
    margin: auto;
    position: relative;
    padding-bottom: 10px;
}
.menuhorizontal{
    display: flex;
    justify-content: space-between;
}
.Navegación .menuhorizontal li a{
    text-decoration: none;
    color: black;
    justify-content: space-between;
    width: 100%;
    padding: 10px;

}



.Navegación .menuhorizontal li a:hover{
    color: rgb(22, 121, 22);
}
.Navegación .menuhorizontal .img1{
    width: 18px;
    height: 14px;
}


div.Ojo {
    width: 40%;
    margin: 1px auto;
    color: #00713D;
    padding: 15px;
    font-size: 20;
    font-weight: 100%;
}
  
div.Ojo img.izquierda {
    float: left;
    height: 30;
    margin-right: 15px;
}
hr {
    padding: 1;
    height: 3px;
    margin-left: 350;
    margin-right: 25%;
    background-color: #00713D;
}

