header img{
    position: relative;
}
nav a{
    text-decoration: none;
    color: black;
    justify-content: space-between;
    padding: 15px;
    position:relative;
}
nav a:hover{
    color: rgb(22, 121, 22);
    position: relative;
}
nav a .img1{
    width: 20px;
    height: 20px;
}
